env/.env.*.user
env/.env.local
env/.env.dev
.localConfigs
appPackage/build
node_modules/
.env
.deployment
.DS_Store
appPackage/.generated
.azurite
src/mcpserver/assets/
dist/

src/mcpserver/deploy-stage/
